<!DOCTYPE html>
<html>
<head>
    <title>Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="container" style="padding-top:100px;">
    <h1>Messages</h1>

    {% for m in messages %}
    <div class="card">
        <h3>{{ m[1] }} ({{ m[2] }})</h3>
        <p>{{ m[3] }}</p>
    </div>
    {% endfor %}

    {% if messages|length == 0 %}
        <p>No messages yet</p>
    {% endif %}
</div>
</body>
</html>